.git
.github
.claude
.junie
.agents
node_modules
vendor
storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
.env
.env.*
!.env.example
tests
.phpunit.result.cache
npm-debug.log
*.md
.editorconfig
.styleci.yml
